body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("C:\Users\aishw\reacthexa\api_book_frontend\public\book1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 400px;
  margin: 40px auto;

  background: rgba(197, 173, 173, 0.15); 
  backdrop-filter: blur(10px);          
  -webkit-backdrop-filter: blur(10px);   

  padding: 30px;
  border-radius: 12px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
h1 {
  text-align: center;
  color: #ece5e5;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: rgb(250, 243, 243);
}

.login-btn,
.register-btn,


.save-btn {background-color: rgb(233, 127, 180);;}
.show-btn {background-color: rgb(233, 127, 180);}
.delete-btn {background-color: rgb(233, 127, 180);;}
.search-btn {background-color: rgb(233, 127, 180);}
.update-btn{background-color: rgb(233, 127, 180);;}
.logout-btn {
  background-color: black;}

.card {
  background-color: #fafafa;
  padding: 15px;
  border-radius: 8px;
  margin-top: 15px;
  border-left: 5px solid blue;
}